
/*footer*/

footer {min-height: 536px; background:#3f3f42;color: #fff;}
.footer-top {padding:50px 0;}
.footer-menu {margin-bottom: 100px; margin-top: 40px}
.footer-menu li {font-size: 19px;list-style: none;}
.footer-menu li a {color: #fff;font-family: 'Calibri-Bold';font-size: 19px;text-decoration: none;}

footer p {font-family: Avenir;font-size: 18px; line-height: 25px;}




