.topSec{
	font-family: 'Calibri';
	background-color: #3f3f42;
	height: 41px;
	color: #e0dd00;
	font-size: 24px;
	letter-spacing: 1px;
}
.topSec a{
	color: #e0dd00;
	text-decoration: none;
}
.language a {
	display: inline-block;
	line-height: 41px;
}
.address li {
	float: left;
	list-style: none;
	line-height: 40px;
	margin-right: 35px;
}
.address li.phone{
	background: url(../images/phone.png) no-repeat 0 5px;
	padding-left: 24px;
}
.address li.mail{
	background: url(../images/mail.png) no-repeat 0 10px;
	padding-left: 35px;
}
.address li.last {
	margin-right: 0;
}
.headerBtm {
	padding-top: 24px;
}
.logo {
	margin-bottom: 14px;
}
.logo a{
	display: inline-block;
}
.buttons ul{
	float: right;
}
.buttons ul li {
	float: left;
	list-style: none;
}
.buttons ul li a{
	font-family: 'Calibri-Bold';
	display: block;
	background-color: #d60170;
	color: #e0dd00;
	text-decoration: none;
	padding: 6px 13px 4px;
	text-transform: uppercase;
	margin-left: 12px;
}

.section-header h2 {
    font-family: "cellos_script_personal_use_Rg";
    font-size: 82px;
    letter-spacing: 4px;
    margin-top: 50px;
}

div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image {
    margin-bottom: 0;
}

.mainMenu{
	font-family: 'Calibri';
	font-size: 23px;
}
.mainMenu ul {
	position: relative;
}
.mainMenu ul li {
	font-size: 23px;
	list-style: none;
	float: left;
	margin:0 15px;
}
.mainMenu ul li.last{
	margin-right: 0;
}
.mainMenu ul li a {
	color: #4a4a49;
	text-decoration: none;
	display: block;
	padding-bottom: 8px;
	text-transform: uppercase;
}
.mainMenu ul li a span {
	display: none;
}
.mainMenu ul li a:hover, .mainMenu ul li.active a{
	color: #313131;
}
.mainMenu ul li:hover .megaMenu{
	visibility: visible;
}
.mainMenu .megaMenu {
	background: url(../images/megaMenuBg.png);
	left: -25px;
    padding: 14px 25px;
    position: absolute;
    right: -25px;
    top: 28px;
    visibility: hidden;
    z-index: 99;
}
/*.mainMenu li.first .megaMenu {
	display: none;
}*/
.mainMenu .megaMenu .leftSec {
    float: left;
    width: 370px;
}
.mainMenu .megaMenu h3 {
	font-size: 24px;
	text-transform: uppercase;
	color: #d60170;
	font-weight: normal;
	margin-bottom: 5px;
}
.mainMenu .megaMenu p {
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
}
.mainMenu .megaMenu p em{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	margin-left: 20px;
	text-transform: lowercase;
	font-style: normal;
}
.mainMenu .megaMenu p strong {
	font-size: 23px;
	text-transform: uppercase;
	color: #d60170;
}
.mainMenu .megaMenu h4 {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}
.mainMenu .megaMenu .rightSec {
    float: right;
    width: auto;
}
.mainMenu .megaMenu ul {
	margin-top: 10px;
}
.mainMenu .megaMenu ul li {
    border-bottom: 2px dotted #fff;
    margin: 10px 75px 5px 0;
    padding: 0 10px 10px;
	float: none;
}
.mainMenu .megaMenu .twoColumnMenu ul li {
	float: left;
	width: 100%;
	max-width: 240px;
}
.mainMenu .megaMenu .twoColumnMenu ul li.evenMenu{
	margin-right: 0;
}
.mainMenu .megaMenu ul li a {
	color: #fff;
	font-size: 18px;
	padding: 0;
	text-transform: none;
}
.mainMenu .megaMenu ul li ul {
	margin: 0;
}
.mainMenu .megaMenu ul li ul li {
	margin-left: 30px;
	border-bottom: none;
	padding-bottom: 0;
	margin: 3px 0;
}
.mainMenu .megaMenu .blLogo {
	float: right;
	margin-right: 112px;
}
.mainMenu .megaMenu .blLogo a {
	float: left;
	margin-left: 15px;
}
.mainMenu .megaMenu .middleSec {
	overflow: hidden;
}
.megaMenuWrap {
    padding-bottom: 20px;
}
.mainMenu .megaMenu ul li a:hover{
	color: #eee800;
}
.mainMenu .megaMenu ul li.active > a{
	color: #eee800;
}

.mobileNav {
	display: none;
	font-family: 'Calibri';
}
.mobileIcon{
	display: none;
}
.mobAddress{
	display: none;
}
.slider{
	width: 264px;
	position: relative;
}
.mainMenu .megaMenu .slider ul {
	margin: 0;
}
.slider .bx-wrapper .bx-viewport {
	background: transparent;
	position: relative;
}
.slider .bx-wrapper .bx-controls-direction a {
	width: 18px;
	height: 47px;
	position: absolute;
	top: 40%;
}
.slider .bx-wrapper .bx-prev {
	background: url(../images/sliLefta.png) no-repeat 0 0;
	left: 15px;
	
}
.slider .bx-wrapper .bx-prev:hover{
	background-position: inherit;
}
.slider .bx-wrapper .bx-next {
	background: url(../images/aliRightA.png) no-repeat 0 0;
	right: 15px;
}

.slider .bx-wrapper .bx-next:hover{
	background-position: inherit;
}
@media (max-width : 1024px) {
    .topSec{
    	font-size: 19px;
    }
    .mainMenu ul li {
    	font-size: 19px;
    	margin: 0 14px;
    }
    .mainMenu .megaMenu .leftSec {
    	margin-right: 2%;
    	width: 31%;
	}
    .mainMenu .megaMenu .rightSec {
    	float: left;
    	width: 67%;
	}
	.mainMenu .megaMenu .rightSec ul li {
		margin-right: 10%;
		width: 40%;
	}
}
@media (max-width : 800px) {
	.topSec{
		font-size: 14px;
	}
	.address li{
		margin-right: 15px;
	}
	.buttons ul li a {
		font-size: 15px;
	}
	.logo a{
		width: 144px;
	}
	.mainMenu ul li{
		font-size: 15px;
		margin: 0 8.5px;
	}
	.mainMenu .megaMenu .leftSec .slider {
		margin-right: 18px;
	}
	.mainMenu .megaMenu .leftSec h3 {
		font-size: 19px;
	}
	.mainMenu .megaMenu .leftSec p {
		font-size: 13px;
	}
	.mainMenu .megaMenu .leftSec p em {
		font-size: 12px;
	}
	.mainMenu .megaMenu .leftSec p strong {
		font-size: 19px;
	}
	.mainMenu .megaMenu .leftSec h4{
		font-size: 13px;
	}
	.mainMenu .megaMenu .rightSec ul li a {
		font-size: 15px;
	}

}
@media (max-width : 640px) {
	.language {
    	text-align: right;
    	font-size: 32px;
	}
	.address {
		display: none;
	}
	.logo {
	    margin: 0 auto;
	    width: 59%;
	}
	.logo a {
		width: 100%;
		margin-bottom: 10px;
	}
	.logo a img{
		width: auto;
	}
	.buttons ul {
	    float: none;
	    text-align: center;
	}
	.buttons ul li {
		float: none;
		display: inline-block;
		width: calc(33% - 3px)
	}
	.buttons ul li a {
		font-size: 120%;
		font-family: 'Calibri';
		margin-left: 0;
		width: 100%;
		padding: 11px 13px 9px;
	}
	.headerBtm .container .col {
		padding: 0;
	}
	.buttons {
		margin-bottom: 10px;
	}
	nav.mainMenu {
		display: none;
	}
	.mobileNav{
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	.mobileNav ul li a span{
		display: block;
	}
	.mobileNav > ul > li {
		background: url(../images/firstLevel.png) repeat-x 0 0;
		padding: 0 25px;
		border-bottom: 2px solid #fff;
	}
	.mobileNav > ul > li > a {
		color: #fff;
		font-size: 46px;
		line-height: normal;
		text-decoration: none;
		display: inline-block;
		padding: 28px 0;
	}
	.mobileNav > ul > li > a span {
		font-size: 35px;
    	line-height: 15px;
	}
	.mobileNav ul li .megaMenu {
		background: url(../images/secondLevel.png);
		border-bottom: 2px solid #fff;
	    border-top: 2px solid #fff;
	    margin: 0 -25px;
	    padding: 10px 25px;
	    position: relative;
	    top: 3px;
	    display: none;
	}
	.mobileNav ul li .megaMenu ul li {
		border-bottom: 2px solid #fff;
		padding-left: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-right: -25px;
	}
	.mobileNav ul li .megaMenu ul li.last{
		border-bottom: none;
	}
	.mobileNav ul li .megaMenu ul li a{
		font-size: 38px;
		color: #fff;
		text-decoration: none;
		line-height: normal;
	}
	.mobileIcon {
		background: url(../images/responsiveMenu.png) no-repeat 0 0;
		cursor: pointer;
		display: block;
		height: 42px;
		left: 15px;
		position: absolute;
		top: -9px;
		width: 14%;
		background-size: 100% auto;
	}
	.mobAddress {
		display: block;
		position: absolute;
		right: 15px;
    	top: -8px;
	}
	.mobAddress ul li {
		list-style: none;
	}
	.mobAddress ul li a {
		font-size: 0;
		display: block;
	}
	.mobAddress ul li.phone {
		position: absolute;
		right: 9px;
		top: 63px;
	}
	.mobAddress ul li.phone a {
		background: url(../images/phone_m.png) no-repeat 0 0;
		height: 63px;
    	width: 57px;
	}
	.mobAddress ul li.mail a {
		background: url(../images/mail_b.png) no-repeat 0 0;
		height: 43px;
    	width: 66px;
	}
	.mobAddress ul li a{
		background-size: 100% auto !important;
	}
	.mobAddress ul li.phone{
		top: 50px;
	}
	.mobAddress ul li.phone a{
		height: 35px;
    	width: 30px;
	}
	.mobAddress ul li.mail a{
		height: 32px;
		width: 46px;
	}
	

	.fixed-navigation{
		display: none;
	}


}
@media(max-width: 480px) {
	.buttons ul li a{
		font-size: 77%;
	}
}
