
.subpage .special-container {width: 960px;padding:100px 0;}
.subpage .special-container h3 {margin-bottom: 20px;}
.large-photo-wrapper {margin-bottom: 11px;}
.box-big {margin-right:11px;}
.padding-bottom370 {padding-bottom: 370px !important;}
.margin0 {margin:0 !important;}

.box-special .row {margin-left: -5px;margin-right: -5px;}
.box-special .col {padding: 0 5px;}
.block-cont {background: #fff;padding: 65px 20px 30px;}

.box-special .block-cont h4 {color: #3f3f42; margin-bottom: 24px;}
.box-special .block-cont .img-block {margin-bottom: 35px;}
.box-special .block-cont p { line-height: 30px;margin-bottom: 0;}

.arrow-pink {background: url(../images/arrow-pink.png);width:30px;height: 16px;display: inline-block; text-indent: -99999em;}
.arrow-gray {background: url(../images/arrow-gray.png);width:30px;height: 16px;display: inline-block; text-indent: -99999em;}

.box-special .section-title {
    background-color: #e0dd00;
    padding: 0;}
.box-special .section-title .toggle-control {
    background: rgba(0, 0, 0, 0) url("../images/bkg-toggle-control-wh.png") no-repeat scroll 0 0;
    bottom: 0;
}















@media (max-width : 1400px) {

.special-container, .subpage .special-container, .special-section-header .container{width: 100%;}
 

}