.section-toggle.even .section-header { text-align: right; }
.section-toggle.odd .section-header { text-align: left; }
.section-header { height: 398px; background-repeat: no-repeat; padding: 125px 0; }
.section-header p { margin: 0; font-style: italic; font-size: 24px; }
.section-title .container { position: relative; }
.section-title .container:before { background: url(../images/quote-before.png) 0 0 no-repeat; width: 39px; height: 28px; position: absolute; left: 50px; top: 0; font-size: 50px; }
.section-title .container:after { background: url(../images/quote-after.png) 0 0 no-repeat; width: 39px; height: 28px; position: absolute; right: 50px; bottom: 0; font-size: 50px; }
.section-title { text-align: center; padding: 65px 53px; color: #3f3f42; background-color: #e0dd00; line-height: 50px; position: relative; }
.section-title .toggle-control { background: url(../images/bkg-toggle-control.png) 0 0 no-repeat; width: 86px; height: 42px; margin: 0 auto; position: absolute; left: 0; right: 0; bottom: -42px; cursor: pointer; z-index: 99; }
.toggle-control .arrow-dn { background: url(../images/arrow-up.gif) 0 0 no-repeat; width: 32px; height: 15px; display: block; margin: 14px auto 0; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); transition: all 2s ease 0s; }
.toggle-control .arrow-dn.opened { background: url(../images/arrow-down.gif) 0 0 no-repeat; width: 32px; height: 15px; display: block; margin: 14px auto 0; }
.section-title h2 { text-transform: uppercase; }
.section-title p { font-size: 24px; margin: 0; }
.section-content .multibox-row.even .img-wrap { float: left; }
.section-content .multibox-row.even .cont-wrap { float: left; }
.section-content .multibox-row.odd .img-wrap { float: right; }
.section-content .multibox-row.odd .cont-wrap { float: left; }
.multibox-all {
    overflow: hidden;
    width: 100%;
}
.multibox-all .multibox-row {
    margin: 0;
    overflow: hidden;
}
.box-height {
    height: 653px;
}
.multibox-all .grey-box {
    background: #3f3f42;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    font-family: Avenir Next;
}
.multibox-col .block {
    display: table-cell;
    padding: 50px 150px;
    vertical-align: middle;
}
.section-content .cont-wrap ul {
    margin-left: 20px;
    margin-bottom: 20px;
}
.section-content .cont-wrap ul li {
    list-style-type: disc;
}
.section-content h4 {
    margin-bottom: 35px;
}
.section-content a {
    color: #e6007e;
    font-size: 24px;
    text-decoration: none;
}
.section-content a:hover {
    color: #ff279d;
}
.section-content a:before {
    content: "»";
    padding-right: 10px;
}
.section-content a.double-arrow:after {
    content: "«";
    padding-left: 10px;
}

.fixed-navigation { top:213px; width:44px; }
.fixed-navigation { background: url("../images/megaMenuBg.png") repeat 0 0; border: 1px solid #33383e; border-right: 0; height: auto; position: fixed; right: 0; top: 350px; width: 50px; z-index: 9; }
.fixed-navigation li { text-align: center; list-style: none; }
.fixed-navigation li.scroll-top a { padding: 0; }
.fixed-navigation li.scroll-bottom a { padding: 0; }
.fixed-navigation li.last { border-bottom: 0 !important; }
.fixed-navigation li a { font-size:12px; color: #fff; display: block; text-decoration: none; vertical-align: middle; padding: 10px 0; }
.fixed-navigation li a img { display: block; margin: 0 auto; }