.section-toggle.even .section-header { text-align: right; }
.section-toggle.odd .section-header { text-align: left; }
.section-header { height: 398px; background-size: cover; background-repeat: no-repeat; padding: 125px 0; }
.section-title { text-align: center; padding: 65px 53px; color: #3f3f42; background-color: #e0dd00; line-height: 50px; }
.toggle-control { height: 42px; }
.toggle-control span { background: url(../images/bkg-toggle-control.png) 0 0 no-repeat; display: block; width: 86px; height: 42px; margin: 0 auto; }
.section-title h2 { text-transform: uppercase; }
.section-title p { font-size: 24px; }